<html>
    <header>
        <title>Clasificador de stock</title>
    </header>
<body>
    <div>
        <h1>Clasificador de imagenes</h1>
        <p>Selecciona una imagen de un productor y luego completa el formulario para ver cual es su clasificacion</p>
    </div>
    <form role="form">
        <div class="form-group">
          <label for="inputFile">Selecciona la imagen</label>
          <input type="file" id="inputFile">
          <p class="help-block">Example block-level help text here.</p>
        </div>
        
        <button type="Confirmar" class="btn btn-default">Submit</button>
      </form>
</body>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</html>